body {
    display: flex;
    justify-content: center;
}

#calculator {
    margin: 20px;
    min-width: 280px;
    background-color: rgb(112, 141, 141);
    width: 400px;
    height: 600px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px repeat(4, 1fr);
    grid-template-areas: 'display display display display';
    gap: 10px;
    padding: 15px;
}

@media screen and (max-width: 500px) {
    #calculator {
        width: 100%;
    }
}

#display {
    font-size: 80px;
    background-color: rgb(189, 217, 218);
    border-radius: inherit;
    grid-area: display;
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    padding: 0 10px;
}
.button {
    font-size: 30px;
    border-radius: 10px;
    min-width: 60px;
}
.digitButton {
    background-color: rgb(211, 211, 211);
}
#reset {
    background-color: rgb(253, 132, 132);
}
